@import url('https://fonts.googleapis.com/css2?family=Chloe&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Chloe', sans-serif; /* Fallback to sans-serif if Chloe isn't available */
}

.background-header {
    background: url('background_ticket.jpeg') no-repeat center center;
    background-size: cover;
    padding: 40px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    height: 200px; /* Set the height of the header */
}

.ticket-form {
    background-color: #ffffff; /* Add a white background to the form */
    padding: 40px;
    max-width: 600px;
    margin: 50px auto 0; /* Adjust top margin to separate from header */
    color: black; /* Change text color for better readability on white background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #000; /* Black border around the form */
}

h2 {
    margin-top: 0; /* Remove top margin from h2 to align it better within the header */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #4cae4c;
}

.form-group fieldset {
    border: none;
}

.form-group label input[type="radio"] {
    margin-right: 5px;
}

.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
