@import url('https://fonts.googleapis.com/css2?family=Chloe&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Chloe', sans-serif; /* Fallback to sans-serif if Chloe isn't available */
}

.header {
    /* background: url('background_ticket.jpeg') no-repeat center top;*/
    background-size: cover;
    text-align: center;
    padding: 60px 0;
    color: white;
    position: relative;
}

.header h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.ticket-form {
    background-color: #ffffff; /* Background color for the form */
    padding: 40px;
    max-width: 600px;
    margin: auto;
    color: #333; /* Text color for the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    top: 50px;
}

h2 {
   

    text-align: center;
    text-transform: uppercase;
    background-image: url('background_ticket.jpeg');
    background-size: cover; /* Make the background image cover the entire element */
    background-position: center; /* Center the background image */
    color: white; /* Text color */
    padding: 20px 0; /* Padding around the text */
    margin: 0; /* Remove default margin */
}



.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Additional styles for radio buttons and their labels */
.form-group fieldset {
    border: none;
}

.form-group label input[type="radio"] {
    margin-right: 5px;
}

/* Style for the footer, if you have one */
.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
