
body, html {
    width: 100%; /* يضمن تغطية العرض الكامل */
    height: 100%; /* يضمن تغطية الارتفاع الكامل */
    margin: 0; /* إزالة الهوامش الافتراضية */
    padding: 0; /* إزالة التبطين الافتراضي */
    font-family: chloe;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* تأكيد على أن العرض يمتد على الشاشة بأكملها */
    height: 100vh; /* يضمن أن الحاوية الرئيسية تأخذ ارتفاع الشاشة بالكامل */
    overflow: hidden; /* منع أي تمدد خارج هذا العنصر */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%; /* تأكيد على أن العرض يمتد على الشاشة بأكملها */
    height: 100%; /* تأكيد على أن الارتفاع يمتد لكامل الارتفاع */
    max-width: 800px; /* يمكنك تعديل هذا العرض حسب الحاجة */
    margin: 0 auto; /* لضمان عدم وجود هوامش إضافية */
}

.left-side {
    flex: 1 1 50%; /* يأخذ دائماً نصف العرض */
    background-image: url('welcomeSaudi.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side {
    flex: 1 1 50%; /* يأخذ دائماً نصف العرض */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 300px;
    margin: 0 auto; /* لوضع المحتوى في الوسط */
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

.input-container {
    position: relative;
    margin-bottom: 20px; /* زيادة المسافة بين الحقول */
}

.input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #ccc;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 30px;
}

#login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top: 10px; /* زيادة المسافة بين زر الدخول وحقل كلمة المرور */
}

#login-button:hover {
    opacity: 0.8;
}